.fieldset {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  gap: 5px;
  border: 1px solid rgba($color: #5a5a5a, $alpha: 0.2);

  @media screen and (max-width: 360px) {
    padding: 0;
  }

  legend {
    color: #5a5a5a;
    margin-left: 1em;
    margin-bottom: 10px;
  }
}

.field {
  display: flex;
  flex-shrink: 1;
  flex-direction: column;

  label {
    font-size: 12px;
    color: #5a5a5a;
  }

  .input {
    padding: 10px 20px;
    border: 1px solid rgba($color: #5a5a5a, $alpha: 0.2);
    border-radius: 5px;
    font-size: 14px;
    color: rgba(#332922, 0.9);
    background-color: #dcb;

    @media screen and (max-width: 470px) {
      padding: 10px 10px;
    }

    @media (prefers-color-scheme: dark) {
      .theme-a.adaptive {
        background: #332922;
        color: rgb(255, 255, 255);
      }
    }
  }
}


// Range Input

.range-input {
  display: flex;
  align-items: center;
  column-gap: 5px;
  position: relative;
}