.menu {
    .menu-dropdown {
        min-width: 150px;
        position: absolute;
        border: 1px solid rgba($color: #5a5a5a, $alpha: 0.2);
        border-radius: 2px;

        .menu-item {
            background-color: #fff;
            padding: 5px 1em;
            font-size: 14px;

            &:hover {
                background-color: #eee;
                cursor: pointer;
            }
        }
    }

    .button {
        min-width: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        svg {
            width: 15px;
        }
    }
}