.product-card {
    width: 240px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 15px;
    transition: box-shadow 0.2s ease-in-out; // Add transition for smooth effect

    display: grid;
    align-items: end;

    &:hover {
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
    }

    &--frame {
        text-align: center;

        img {
            max-width: 90%;
            max-height: 150px;
        }
    }

    h4 {
        margin: 15px auto;
    }

    .product-card--action {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #E27D5E;

        button {
            flex-grow: 1;
        }

        div {
            &:last-child {
                justify-self: center;
            }
        }

        .like {
            display: flex;
            margin: 0 5px;
        }
    }
}

.card {
    display: grid;
    gap: 10px;
    justify-items: center;
    border: 1px solid #fff;
    padding: 0.5rem;
    border-radius: 3px;
    z-index: 99;

    .card--frame {
        width: 200px;
        height: 200px;
        // background-color: #2f2f2f;
        overflow: hidden;

        :hover {
            background-color: #E27D5E;
            cursor: pointer;
        }

        img {
            min-width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .card--frame, title, button {
        :hover {
            background-color: #E27D5E;
            cursor: pointer;
        }
    }

    .title {
        font-size: 1.5em;
    }
}